@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100dvh;
}

.art {
    background-color: #006542;
    width: 55%;
    height: 100%;
}

.containerLogo {
    width: 100%;
    height: 112px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 32px;
}

.containerLogo img {
    width: auto;
    height: 80px;
}

.containerTitule {
    width: 100%;
    height: auto;
    padding-left: 57px;
    margin-top: 48px;
}

.containerTitule h1 {
    font-family: Montserrat;
    font-style: normal;
    font-size: 52px;
    font-weight: 700;
    color: #FFF;
}

#nomNegocio {
    font-size: 72px;
}

#marcaAguaMaya {
    width: 100%;
    height: calc(100dvh - 336px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
}

#marcaAguaMaya img {
    width: auto;
    height: 100%;
}

.containerLogin {
    background-color: #E7BC86;
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.rectangleLogin {
    background-color: #FFF;
    width: 60%;
    height: 70%;
    border-radius: 25px;
    padding: 52px 30px;
}

.rectangleLogin p {
    font-family: Montserrat;
    font-style: normal;
}

.form {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    width: 100%;
}

#tituleForm {
    width: 100%;
    text-align: left;
    font-size: 20px;
    font-weight: 700;
    color: #006542;
    margin-bottom: 28px;
}

.subTituleForm {
    width: 100%;
    font-size: 12px;
    font-weight: 400;
    color: #006542;
    text-align: left;
    margin-bottom: 8px;
}

.inputForm {
    width: 100%;
    height: 48px;
    border-radius: 10px;
    margin-bottom: 16px;
    border: 1.5px solid;
    border-color: #006542;
    font-family: Montserrat;
    font-size: 12px;
    color: #006542;
    padding: 12px 16px;
}

.btnSubmit {
    width: 50%;
    margin-top: 28px;
    margin-bottom: 6px;
    background-color: #006542;
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    font-family: Montserrat;
    height: 32px;
    border-radius: 5px;
    border: none;
}

.btnSubmit:hover {
    cursor: pointer;
    background-color: rgba(0, 101, 66, 0.85);
}

form a {
    font-family: Montserrat;
    font-size: 8px;
    font-style: normal;
    color: #006542;
    text-decoration: none;
}

.newUsers {
    width: 45%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
}

.newUsers p, .newUsers a {
    font-family: Montserrat;
    font-size: 10px;
    font-style: normal;
    color: #000;
    text-decoration: none;
}

.newUsers a {
    font-weight: 600;
    margin-left: 4px;
}